@inherits ComponentBase
@page "/"

<h4>Пропорциональный перерасчёт значений</h4>
<h6 class="text-secondary">Помогает при составлении разного рода отчётов</h6>

<hr />

<div class="row pb-4">
	<div class="col">
		<button class="btn btn-primary" @onclick="AddNewCalculation">Добавить новый расчёт</button>
	</div>
</div>

@for (var i = 0; i < CalculationService.Calculations.Count; i++)
{
	if (CalculationService.Calculations.Count > 1)
	{
		<div class="row pb-1">
			<div class="col-auto">
				<span class="text-secondary">Расчёт №@(i + 1)</span>
			</div>
		</div>
	}

	var calculation = CalculationService.Calculations[i];

	<div class="row pb-2">
		<div class="col-auto">
			<CalculationNode Calculation="calculation"
							 OnCalculationDelete="() => RemoveCalculation(calculation)"
							 OnColumnAdd="() => AddColumn(calculation)"
							 OnRowInsert="index => OnRowInsert(calculation, index)"
							 OnRowRemove="index => OnRowRemove(calculation, index)" />
		</div>
	</div>
}
