@inherits ComponentBase
@page "/"

<h4 class="text-center">Пропорциональный перерасчёт значений</h4>
<h6 class="text-secondary text-center">Помогает при составлении разного рода отчётов</h6>

<hr />

<div class="row">
	<div class="col">
		<button class="btn btn-primary" @onclick="AddNewCalculation">Добавить новый расчёт</button>
		<br />
		<br />
		<br />
	</div>
</div>
<div class="row gx-0">
	<div class="col-auto">
		<table class="table table-striped table-hover table-sm w-auto shadow rounded-3 border bg-body">
			<thead class="table-light">
				<tr>
					<th scope="col" colspan="2" class="align-bottom">
						<button class="btn btn-sm btn-danger w-100" title="Удалить расчёт">Удалить</button>
					</th>
					<th scope="col" class="align-top">
						<div class="d-flex align-items-baseline">
							<span>Исходные данные</span>
							<button type="button" class="btn btn-link btn-sm" title="Вставить значения из буфера обмена"><i class="bi bi-clipboard-data"></i></button>
						</div>
						<input type="number" readonly placeholder="Исходная сумма..." value="100" />
					</th>

					@for (var i = 0; i < columns; i++)
					{
						<th scope="col" class="align-top">
							<div class="d-flex align-items-baseline">
								<span>Результат@(columns == 1 ? "" : $" №{i + 1}")</span>
								<button type="button" class="btn btn-link btn-sm" title="Скопировать новые результаты в буфер обмена"><i class="bi bi-files"></i></button>
								<button type="button" @onclick="DeleteColumn" class="btn btn-link link-danger btn-sm ms-auto" title="Удалить столбец"><i class="bi bi-trash-fill"></i></button>
							</div>
							<input type="number" placeholder="Новая сумма..." />
						</th>
					}

					<th scope="col" class="align-bottom">
						<button type="button" @onclick="AddNewColumn" class="btn btn-outline-secondary btn-sm" title="Добавить новый столбец"><i class="bi bi-plus-lg"></i></button>
					</th>
				</tr>
			</thead>
			<tbody>
				@for (var i = 0; i < 10; i++)
				{
					<tr>
						<th scope="row" class="align-middle">
							<button class="cell-hover btn btn-sm btn-link link-danger" title="Удалить строку"><i class="bi bi-trash-fill"></i></button>
							<button class="cell-hover btn btn-sm btn-link link-success" title="Добавить строку"><i class="bi bi-plus-lg"></i></button>
						</th>
						<td class="align-middle">@(i + 1)</td>
						<td class="align-middle"><input type="number" value="@(i * 10)" placeholder="Исходное значение..." /></td>

						@for (var j = 0; j < columns; j++)
						{
							<td class="align-middle"><input readonly value="@((i + j) * 20)" placeholder="Новое значение..." tabindex="-1" /></td>
						}

						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
