@inherits ComponentBase
@page "/"

<h4>Пропорциональный перерасчёт значений</h4>
<h6 class="text-secondary">Помогает при составлении разного рода отчётов</h6>

<hr />

<div class="row pb-4">
	<div class="col">
		<button class="btn btn-primary" @onclick="AddNewCalculation">Добавить новый расчёт</button>
	</div>
</div>

@foreach (var calculation in CalculationService.Calculations)
{
	<CalculationNode Calculation="calculation"
					 OnCalculationDelete="() => RemoveCalculation(calculation)"
					 OnRowInsert="index => OnRowInsert(calculation, index)"
					 OnRowRemove="index => OnRowRemove(calculation, index)" />
}
